/* 16px 41px */

#homePage {
    font-size: 2em
}

#text {
    font-size: 50%;
}

.top-bar-section {
    font-weight: normal;
}

body {
    background-color: blue;
}

.large-secondary-button { 

}

#ebutton {
    text-align: right;
}




